# Use the latest 2.1 version of CircleCI pipeline process engine.
# See: https://circleci.com/docs/2.0/configuration-reference
version: 2.1

# Define a job to be invoked later in a workflow.
# See: https://circleci.com/docs/2.0/configuration-reference/#jobs
jobs:
   configure_infrastructure: 
       docker:
           - image: python:3.7-alpine3.11
       steps:
           - checkout
           - add_ssh_keys:
                # You can get this ID in the section where you registered the SSH Key
                fingerprints: ["37:41:42:a2:68:a2:d9:e9:dd:6e:34:c2:f0:79:db:24"] 
           - run:
               name: Install Ansible
               command: |
                 apk add --update ansible
           - run:
               name: Run Playbook and Configure server
               command: |
                 ansible-playbook main-remote.yml -i inventory.txt
  #create_infrastructures: 
   #   docker:
    #    - image: amazon/aws-cli
     # steps:
      #  - checkout
       # - run:
        #    name: Create Cloudformation Stack
         #   command: |
          #    aws cloudformation deploy \
           #     --template-file template.yml \
            #    --stack-name myStack-${CIRCLE_WORKFLOW_ID:0:5} \
             #   --region us-east-1


# Invoke jobs via workflowsSy
# See: https://circleci.com/docs/2.0/configuration-reference/#workflows
workflows:
  my_workflow:
      jobs:
        - configure_infrastructure
